* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header-img {
  width: 10rem;
  margin: 2rem 1rem;
}
.header-title {
  font-weight: 900;
  font-size: 2rem;
  margin: 0 1rem 2rem;
}
.header-prgph {
  font-weight: 100;
  margin: 0 1rem 2rem;
}
.content {
  display: flex;
  flex-direction: column;
}
.item {
  width: 320px;
  height: 320px;
  margin: auto;
  border-radius: 5px;
}
.item p {
  display: none;
}

.item a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  z-index: 3;
}

.first-img {
  background-image: url(https://images.unsplash.com/photo-1504600770771-fb03a6961d33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3F1YXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}
/* .item::before {
  margin: auto;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.5;
  border-radius: 5px;
}
.first-img::before {
  background-color: rgb(199, 55, 98);
} */
